<div class="product-container">
    <div class="product-image">
        <img src="{%IMAGE%}" alt="Wireless Headphones">
    </div>
    <div class="product-details">
        <a href="/product?id={%ID%}"><p class="product-title">{%TITLE%}</p></a>
        <p class="rating">{%RATINGS%}</p>
        <span class="deal-badge">Limited time deal</span>
        <p><span class="discount">{%DISCOUNT%}</span> <span class="price">{%DISCPRICE%}</span> <span class="old-price">M.R.P: {%ORGPRICE%}</span></p>
        <p class="delivery">FREE delivery <strong>Tomorrow, 10 Mar</strong></p>
        <button class="add-to-cart">Add to cart</button>
    </div>
</div>